/* Global rules */

* {
    font-size: 12px;
}
.bg-black {
    background-color: black;
}
.bg-fading-black {
    background-color: #00000040;
}
.bg-dark-blue {
    background-color: #151922;
}
.bg-grey {
    background-color: #a3a3a3;
}
.bg-dark-grey {
    background-color: #282828;
}
.text-grey {
    color: #717171;
}
.text-black {
    color: #000;
}
.border-grey {
    border-color: #717171!important;
}
.border-lime {
    border-color: #adf62f!important;
}
ul {
    list-style-type: none;
}
a {
    color: #717171;
}
a:hover {
    color: white;
    text-decoration: none;
}

/* Sidebar rules */ 

#sidebar {
    height: 90vh;
    width: 200px;
}
#sidebar .sidebar_options img {
    width: 30px;
}
#sidebar .sidebar_options li:first-child {
    border-left: 3px solid white;
}
#sidebar .square {
    width: 35px;
    height: 35px;
}
#sidebar .square i {
    font-size: 20px;
}
#sidebar .create_playlist:hover .square {
    background-color: white;
}
#sidebar #profile a img {
    width: 12px;
}
#sidebar .user div:first-child {
    width: 20px;
    height: 20px;
}
#sidebar .user div:first-child img {
    width: 13px;
}

/* Upgrade button rules */

#upgrade_bar {
    height: 67px;
    z-index: -1;
}

/* Main content rules */

main {
    position: relative;
    padding-top: 67px;
}

/* Now playing bar */

#now_playing {
    height: 90px;
}