/* Global rules */

* {
    font-size: 0.9rem;
    font-weight: bold;
}
body {
    overflow-y: hidden;
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.bg-black {
    background-color: black;
}
.bg-fading-black {
    background-color: #00000069;
}
.bg-dark-blue {
    background-color: #151922;
}
.bg-grey {
    background-color: #a3a3a3;
}
.bg-dark-grey {
    background-color: #282828;
}
.text-grey {
    color: #717171;
}
.text-black {
    color: #000;
}
.border-grey {
    border-color: #717171!important;
}
ul {
    list-style-type: none;
}
a {
    color: #717171;
}
a:hover {
    color: white;
    text-decoration: none;
}

/* Sidebar rules */ 

#sidebar {
    height: calc(100vh - 90px);
    width: 230px;
    z-index: 2;
}
#sidebar #logo {
    height: 90px;
}
#sidebar #sidebar_options img {
    width: 30px;
}
#sidebar #sidebar_options li:first-child {
    border-left: 3px solid #adf62f;
}
#sidebar .square {
    width: 35px;
    height: 35px;
}
#sidebar .square i {
    font-size: 20px;
}
#sidebar .create_playlist:hover .square {
    background-color: white;
}
#sidebar #profile a img {
    width: 18px;
}
#sidebar .user div:first-child {
    width: 20px;
    height: 20px;
}
#sidebar .user div:first-child img {
    width: 13px;
}

/* Upgrade bar rules */

#upgrade_bar {
    height: 90px;
    z-index: 1;
}
#upgrade_bar a:hover {
    font-size: 120%;
}

/* Main content rules */

main {
    height: calc(100vh - 90px);
    padding-top: 90px;
    overflow-x: hidden;
    overflow-y: auto;
}

#filters li:first-child a {
    position: relative;
}
#filters li:first-child a::after {
    content:'';
    display: block;
    background-color: #adf62f;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.playlist > a {
    position: relative;
}
.playlist_overlay {
    position: absolute;
    top: 0;
    display: none;
}
.playlist_overlay i {
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.playlist a:first-child:hover .playlist_overlay {
    display: block;
}

/* Now playing bar */

#now_playing {
    height: 90px;
}
#now_playing img {
    width: 50px;
}
#now_playing i {
    font-size: 1.2rem;
    cursor: pointer;
}
#media_icons i:nth-child(3) {
    font-size: 27px;
}
#progress_bar {
    background-color: #565656;
    height: 4px;
    width: 200%;
}
#volume_bar {
    background-color: #565656;
    height: 4px;
    width: 100px; 
}
.slider {
    background-color: #bdbdbd;
}